@import url('https://fonts.googleapis.com/css2?family=Felipa&family=Geist:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Felipa&family=Geist:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
Global Styles
- Decorative font: Felipa
- Functional font: Cinzel

Color Palette:
- Primary color: #2d334c (dark gray blue)
- Secondary color: #fffcf4 (light cream)
- Accent color: #412f26 (dark gray brown)
- Accent color: #2c86f2 (vivid blue)

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Cinzel', serif;
}

a{
    text-decoration: none;
    color:#fffcf4;
    font-size: 0.8rem;
}

body{
    background-color: #2d334c;
}

#Hero {
    background-image: url("assets/Background_Small.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'Felipa', cursive;
    font-size: 3rem;
    color: #fffcf4;
    letter-spacing: 0.3rem;
    font-weight: 200;
    margin-top: 10rem;
    text-align: center;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.25);
}

#HeroContainer{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    row-gap: 2rem;
}

#HeroContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:50%;
    width:80%;
    row-gap: 3rem;
}

#HeroButton{
    width: 10rem;
    height: 5rem;
    background-color: #fffcf4a4;
    color: #412f26;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2rem;
    border-radius: 0.5rem;
    border: 2px solid #412f26;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

#HeroLogo{
    width: 10rem;
}

#AnthologyImage{
    height: 15rem;
    object-fit: cover;
}


footer{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 0.5rem;
    margin-bottom: 2rem;
}


@media (min-width: 481px) {
    h1{
        margin-top:2rem;
    }
    #HeroContainer{
        row-gap: 10rem;
    }
    #HeroContent{
        width:100%;
        flex-direction: row;
        justify-content:center;
        column-gap:2rem;
    }

    footer{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 769px) {
    a:hover{
        text-decoration: underline;
        text-underline-offset: 0.2rem;
        transition: all 0.3s ease-in-out;
    }

    #Hero {
        background-image: url("assets/Background_Large.png");
        height: 100vh;
        background-size: cover;
        background-position: center;
    }

     #HeroContainer{
        row-gap: 5rem;
    }

    #HeroContent{
        width:80%;
    }

    #HeroButton{
        width: 15rem;
        height: 10rem;
        font-size: 1.5rem;
    }
    #HeroButton:hover{
        font-size:1.6rem;
        transition: all 0.3s ease-in-out;
    }
    #HeroContent{
        width:80%;
    }
    #HeroLogo{
    width: 15rem;
    }

    #AnthologyImage{
        height: 20rem;
        object-fit: cover;
    }
}