* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


#Hero{
    height: 100vh;
    background-image: url("assets/Background_Large.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

#HeroContainer{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    row-gap: 8rem;
}

#HeroContent{
    display: flex;
    align-items: center;
    height:50%;
    column-gap: 10rem;
}

#HeroButton{
    width: 20rem;
    height: 10rem;
    background-color: #fffcf4a4;
    color: #412f26;
    font-size: 1.4rem;
    line-height: 2rem;
    border-radius: 0.5rem;
    border: 2px solid #412f26;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

#HeroButton:hover{
    font-size:1.5rem;
    transition: 0.2s ease-in-out;
}

#HeroLogo{
    width: 15rem;
}

#AnthologyImage{
    height: 25rem;
    object-fit: cover;
}


footer{
    width: 75%;
    display: flex;
    justify-content: space-between;
}
